html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body::-webkit-scrollbar {
  display: none;
}
body{
  font-family: 'Noto Sans TC', sans-serif;
  position: relative;
  -ms-overflow-style: none;
  background-color: #EB7A77;
  /* background: linear-gradient(-20deg,  rgba(235,122,119,1),#0089A7 ) bottom right; */
  background-attachment: fixed;
}
header{
  height: 45vh;
  display: block;
}
header .block{
  width: 100%;
  /* height: 450px; */
  height: 100%;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/wpproject-39c2f.appspot.com/o/background2.png?alt=media&token=0ca6113b-6593-41b6-95a8-692ae3ce61af);
  background-repeat:no-repeat;
  background-size: cover;
  background-position:top;
  background-attachment: fixed;
  display: flex;
  Justify-content: center;
  align-items: center;
  /* box-shadow:inset 0 0 2px 2px rgba(0,0,0,0.6); */
}
header .block h1{
  font-size:70px;
  font-weight: bold;
  color: aliceblue;
  transition: 1s;
  text-shadow:2px 2px 2px rgba(0,0,0,0.6);
}
.bord_box{
  height: 50px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  background-color: rgba(0,0,0,0.45);
  /* opacity: 0.9; */
  top: 0px;
  display: flex;
  Justify-content: space-between;
  align-items: center;
  box-shadow:0 0 2px 2px rgba(2, 2, 2, 0.5);
}
.bord_box form{
  height: 100%;
  /* margin-left: -50px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bord_box form .text{
  margin: 0 0 0 15px;
  opacity: 0.6;
  border: 0;
  width: 55%;
  border-radius:10px;
  height: 45%;
}
.bord_box form .sub{
  border: 0;
  height: 100%;
  width: 50px;
  box-sizing: border-box;
  padding: 10px 10px;
}
.bord_box form .sub:hover{
  transition: 0.5s;
  background-color: navy;
  color: coral;
}
.bord_box .Tmap{
  height: 100%;
  margin-right: 15px;
}
.bord_box .Tmap p{
  color: white;
  text-align: center;
  padding: 0 7px;
  line-height: 50px;
  font-weight: bold;
}
.bord_box .Tmap:hover{
  transition: 0.5s;
  background-color: navy;
  color: white;
  opacity: 1;
}

h2{
  text-align: center;
  font-size: 40px;
  line-height: 70px;
  transition: 1s;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  color: white;
  text-shadow:1px 1px 1.5px rgba(0,0,0,0.8);
}

/* rgba(235,122,119,1) */
.main{
  padding-bottom: 50px;
  min-height: 100vh;
  background: linear-gradient(-20deg,  rgba(235,122,119,1),#DAC9A6 ) bottom right;
  /* background: linear-gradient(-20deg, rgba(144,218,2,1),rgba(0,137,167,1) ) bottom right; */
  background-attachment: fixed;
}
.movieWrap{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.movie_{
  transition: 0.7s;
  width:55%;
  flex-direction:row;
  display:inline-flex;
  justify-content: center;
  margin: 20px;
  padding: 5px;
  background-color: white;
  box-shadow: 0 0 1.5px 2px rgba(4,4,4,0.6);
  }
.movie_img, .movie_context{
  width: 30%;
  margin: 10px;
}
.movie_context{
  width: 70%;
  height: 100%;
  padding-right: 5px;
  margin-right: 20px;
  position: relative; 
}
img{
  width:100%;
}
.movie_title, .movie_info{
  flex: none;
  /* border: 1px solid black; */
  display: inline-block;
  width: 100%;
  word-break: break-word;
}
.movie_title{
  /* position: absolute;
  top: 0; */
  padding: 2% 0 0 3%;
  font-size: 24px;
  font-weight: bold;
  font-size:25px;
}
.movie_title a{
  text-decoration:none;
  display:block;
  color:black;
}
.movie_title a:hover{
  color:#D0104C;
}
.movie_time{
  margin: 3% 0 0 3%;
  font-size: 16px;
}
.movie_score{
  margin: 1.5% 0 0 3%;
  font-size: 16px;
}
.movie_info{
  /* position: absolute;
  top: 20%; */
  margin: 5% 0 0 3%;
  font-size: 16px;
  line-height: 26px;
}
.movie_info h3{
  margin-bottom:1.5%;
  font-size: 20px;
  font-weight: bold;
}

.tmdb-result{
  /* background: linear-gradient(-20deg, transparent 400px, #58a 0) right; */
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* #one.movieWrap, #two.movieWrap, #three.movieWrap{
	display: none;
} */

/* #one,#two,#three{
  display:none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.Tmap p, .movie_title a,
footer .aboutButton:hover{
    cursor: pointer;
}
#one,#two,#three{
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(46, 53, 50);
  }
  
.movie_main{
      width: 65%;
      /* display:flex; */
      flex-direction: row;
      display:inline-flex;
      justify-content: center;
      background-color: aliceblue;
      box-shadow: 0 0 3px 0.5px rgba(4,4,4,0.6);  
      margin: 20px;
      padding: 20px;
      flex-wrap: wrap;
      margin-bottom: 20px;
}
  
  .title h3,.content h4,
  .mainstaffs h4, .mainstars h4,
  .mainstills h4{
      font-weight: bold;
  }
  .title h3{
      font-size: 40px;
  }
  .content h4, .mainstars h4,
  .mainstills h4{
      font-size: 24px;
  }
  
  .mainstaffs h4{
      font-size: 19px;
  }
  .content p{
      line-height: 26px;
  }
  
  .movie_post{
      width:35%
  }
  
  .movie_post img{
      width: 100%;
  }
  .movie_about{
      padding-left: 5%;
      width:60%;
      display: flex;
      flex-direction: column;	
  }
  
  .title h3, .title span{
      display: inline-block;
      justify-content: center;
  }
  .title span{
      margin-left: 1%;
  }
  .movie_about .remark, 
  .movie_about .content,
  .movie_about .mainstaffs
  {
      margin-top: 2%;
  }
  .movie_about .mainstaffs{
      padding-bottom: 0;
  }
  .movie_about .remark div,
  .movie_about .remark p{
      display: inline-block;
      padding-bottom: 0;	
      text-align: center;
      line-height: 40px;
  }
  .movie_about .remark p{
      margin-left: 1%;
      font-size: 13px;
      font-weight: lighter;
  }
  
  .movie_about .remark .score{
      width: 40px; height: 40px;
      border: 3px solid gainsboro;
      border-radius: 50%;
      animation-name: loading;
        animation-duration: 3s;
    }
  @keyframes loading{
      form{
          transfrom:rotate(0deg);
      }
      to{
        transfrom:rotate(180deg);
    }
  }

#one .score{
    border-top: 4px solid rgb(73, 160, 120);
    border-right: 4px solid rgb(73, 160, 120);
}
#two .score{
    border-top: 4px solid rgb(73, 160, 120);
    border-right: 4px solid rgb(73, 160, 120);
    border-bottom: 4px solid rgb(73, 160, 120);
}

  .movie_about .remark .video{
      padding-left: 5%;
  }
  .movie_about .remark .video img{
      width: 20px; height: 20px;
      vertical-align:text-bottom;
  }
  .video:hover{
      color: #fc3a63;
      position: relative; 
      top: 1px;
      left: 1px;
      cursor: pointer;
  }
  .movie_about .remark, 
  .movie_about div h4{
      padding-bottom: 10px;
  }
  b{
      font-weight: bold;
  }
  .movie_about .mainstaffs .staffs{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 12px;
      line-height: 16px;
  }
  .movie_about .mainstaffs .staffs .staff{
      width: 33%;
      margin-bottom: 1.5%;
  }
  .mainstars h4, .mainstills h4{
      padding: 10px;
      padding-bottom: 20px;
      border-bottom:2px solid black;
      margin-bottom: 5px;
  }
  
  .mainstars, .mainstills{
      width: 65%;
      padding: 10px;
      text-align: center;
      Justify-content: space-between;
      margin-top: 25px;
  }
  .stars , .stills{
      display: flex;
      margin-top: 2%;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 30px;
  }
  
  .star, .still{
      box-shadow: 0 0 1.5px 2px rgba(4,4,4,0.6);
      font-size: 12px;
      /* line-height: 20px;	 */
  }
  .star{
    line-height: 20px;
  }
  
  .stars .star{
      width: 15%;
      background-color: aliceblue;
  }
  
  .stills .still{
      width:30%;

  }
  .still img{
    width: 100%;
    height: 100%;
  }
  
  #video_view{
      position: absolute;
      top: 0; left: 0;
      width: 100vw; height: 100vh;
      background-color: rgba(0,0,0,0.9);
      z-index: 2;
  
      display: flex;
      justify-content: center;
      align-items: center;
  }
  #video_view iframe{
      width: 64vw; height: 66vh;
  }
  #video_view.hidden{
      display: none;
  }
  
  .no-scroll{
      overflow: hidden;
  }
  @media screen and (max-width: 500px){
    
    .movie_main{
      width:80%;
      flex-direction:column;
      align-items:center;
    }
    .movie_post{
      width: 90%;
    }
    .movie_about{
      width: 100%;
    }
   
    .mainstars,.mainstills{
    width:80%;
    /* flex-direction:column;
    align-items:center; */
    }
    .mainstars .stars,.mainstills .stills{
    width: 100%;
    display: flex;
    flex-direction:row;
    align-items:center;
    Justify-content: space-between;
    }
    .mainstills .stills{
      Justify-content: center;
    }
    .stars .star,.stills .still{
    width: 40%;
    height: 100%;
    margin-bottom: 10px;
    }
    .stills .still{
        width: 90%;
    }
  }
  /*
  @keyframes bg {
    0% {
        background-size:    0 3px,
                            3px 0,
                            0 3px,
                            3px 0;
    }
    25% {
        background-size:    100% 3px,
                            3px 0,
                            0 3px,
                            3px 0;
    }
    50% {
        background-size:    100% 3px,
                            3px 100%,
                            0 3px,
                            3px 0;
    }
    75% {
        background-size:    100% 3px,
                            3px 100%,
                            100% 3px,
                            3px 0;
    }
    100% {
        background-size:    100% 3px,
                            3px 100%,
                            100% 3px,
                            3px 100%;
    }
}

.score{
    width: 25%;
    margin: 2rem auto; 
    /* padding: 2em;  
    background-repeat: no-repeat;
    background-image:   linear-gradient(to right, #eaab00 100%, #C9C9C9 100%),
                        linear-gradient(to bottom, #C9C9C9 100%, #C9C9C9 100%),
                        linear-gradient(to right, #C9C9C9 100%, #C9C9C9 100%),
                        linear-gradient(to bottom, #C9C9C9 100%, #C9C9C9 100%);
    background-size:    100% 3px,
                        3px 100%,
                        100% 3px,
                        3px 100%;
    background-position:    0 0,
                            100% 0,
                            100% 100%,
                            0 100%;
    animation: bg 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
    animation-play-state: paused;
}

.score:hover {
    animation-play-state: running;
    cursor: pointer;
}
*/
#video_view.hidden{
	display: none;
}

.no-scroll{
	overflow: hidden;
}

#map-view {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map-view .map {
  max-height: 100%;
  max-width: 100%;
}
#map-view #map{
  border: 10px solid white;
  border-radius: 7.5px;
}
#map-view svg{
  height: 5%;
  position: absolute;
  top:15px;
  right:15px;
}
#map-view.hidden {
  display: none;
}

.aboutUS{
  color: rgba(55, 55, 55, 1);
  display:none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutUS .aboutBox{
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  margin: 50px;
  padding: 10px;
  border-radius:10px;
  background-color: rgb(255, 255, 255,0.45);
}
.aboutUS .usWrap{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutUS .usWrap .usBox{
  text-align: center;
  max-width: 600px;
  font-size: 20px;
  line-height: 30px;
  margin: 50px;
  padding: 10px;
  border-radius:10px;
  background-color: rgb(255, 255, 255,0.45);
}
.aboutUS .usWrap .usBox h3{
  font-size: 30px;
  line-height: 42px;
  font-weight: bold;
  margin: 5px 0;
}
.aboutUS .usWrap .usBox h4{
  font-size: 15px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 5px;
}
/* .aboutUS .usWrap .usBox p{

} */
.youlike{
  display: flex;
  width: 10%;
  position: fixed;
  top: 10%;right: 30px;
  /* height: 275px; */
  padding: 18px;
  flex-direction: column;
align-items: flex-start;
line-height: 25px;
background-color: rgba( 255, 255,255, 0.5);
border-radius: 3px;
}
.youlike h3{
  font-size: 20px;
  margin-bottom: 10px;
}
.youlike a{
  text-decoration: none;
  display: block;
  color: blue;
  margin-bottom: 5px;
}
.youlike p{
font-size: 12px;
font-style: italic;
font-weight: lighter;
}

.chatRoom{
  width: 60%;
  margin: 50px;
  padding: 10px;
  border-radius:10px;
  background-color: rgb(255, 255, 255,0.45);
}
.chatRoom h3{
  font-size: 30px;
  line-height: 42px;
  text-align: center;
}
.chatInput{
  padding:5px;
  display: flex;
  Justify-content: space-between;
}
.chatInput #chatName{
  width: 30%;
  border: none;
  opacity: 0.8;
  line-height: 20px;
}
.chatInput #chatText{
  width: 50%;
  border: none;
  opacity: 0.8;
  line-height: 20px;
}
.chatInput .sub{
  width: 15%;
  border: none;
  color: white;
  text-align: center;
  padding: 2px;
  font-weight: bold;
  background-color: rgba( 120, 120, 120, 0.8);
  border-radius: 7px;
}
.textBox::-webkit-scrollbar{
  display:none;
}
.textBox{
  padding: 0 5px;
  overflow-y: scroll;
  height: 150px;
}
.textBox .nameInChat{
  font-weight: bold;
}
.textBox .middunSpace{
  margin: 0 6px 8px 2px;
}

footer{
  width: 100%;
  background-color: black;
  opacity: 0.9;
  height: 30px;
  box-shadow: 0 0 0.5px 2px rgba(3, 3, 3, 0.6);
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color:  white;
  padding: 0 10px;
}
footer .time{
  display: inline-block;
  width: 70%;
  margin-left: 15%;
  text-align: center;
}
footer .aboutButton{
  width: 15%;
  text-align: right;
  display: inline-block;
  transition: 0.6s;
}
footer .aboutButton:hover{
  color:#F19483;
}

.goToTop {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 98;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  text-align: center;
  width: 5%;
  padding: 15px;
  border-radius: 14px;
  transition: 0.5s;
}
.goToTop:hover {
  background-color: #555;
}
.backToMain{
  display: none;
  position: fixed;
  bottom: 60px;
  right: 10px;
  z-index: 98;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  width: 5%;
  text-align: center;
  padding: 15px;
  border-radius: 14px;
  transition: 0.5s;
}

.backToMain:hover {
  background-color: #555;
}
@media screen and (max-width: 1024px){
  .youlike{
    display: none;
  }
}

@media screen and (max-width: 825px){
  .movie_{
    width:70%;
  }
  header .block{
    background-repeat:no-repeat;
    background-size: cover;
    /* background-position:center; */

  }
}
@media screen and (max-width: 500px){
  header .block h1{
    font-size:45px;
    transition: 1s;
  }
  .movie_{
    width:80%;
    flex-direction:column;
    align-items:center;
  }
  .movie_img{
    width: 90%;
  }
  .movie_context{
    width: 100%;
  }
  h2{
    font-size: 30px;
    line-height: 50px;
  }
  footer{
    font-size: 14px;
    line-height: 30px;
    padding-bottom: 8px;
  }
  .backToMain{
    padding: 10px 15px;
  }
  .goToTop{
    padding: 10px 15px;
  }
}
@media screen and (max-width: 300px){
  header .block h1{
    font-size:20px;
  }
  .movie_{
    width:90%;
  }
  h2{
    font-size: 20px;
    line-height: 40px;
  }
  .backToMain{
    padding: 5px 15px;
  }
  .goToTop{
    padding: 5px 15px;
  }
}
@media screen and (min-width: 1000px){
  .backToMain{
    width: 50px;
  }
  .goToTop{
    width: 50px;
  }
}
